
<h1>Question </h1>

<span>User email : <%= @question.email %> </span>

<img src=" <%= @question.gravatar %>">

<p> <%= @question.body %> </p>


Answers

<button class="btn btn-success"> Submit a new answer </button>

<%= render 'home/new_answer' %>
<% @question.answers.each do |answer|%>
<h1>Answer </h1>

<span>User email : <%= answer.email%> </span>

<img src="">

<p>Answer Details: <%= answer.body%>  </p>
<% end %>